/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

button,
summary {
  cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: rgb(255, 255, 255);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-background: rgb(0, 0, 0);
    font-family: arial, sans-serif;
  }
}
.spacing {
  margin-left: 0.5em;
  margin-right: 0.5em;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* focus visible heb ik hier zo gebruikt om elk klikbaar element in de site een rode border te geven met een vergroot effect als je erop */
*:focus-visible{
  transform:scale(110%);
  transition: 0.3s;
  border:solid 0.5em red;
  
 
}
/* variable gebruiken als kleuren als voorbereiding op dark en light mode wat je systeem instelling leest */
body {
  color: var(--color-text);
  background-color: var(--color-background);
}


header {

  left: 0;
  right: 0;
  display: flex;
  padding: 0 2em;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
}

header>a {
  width: 5em;
  height: 100%;
}

header>a img {
  height: 100%;
  width: auto;
}

/* navbar opmaak */
nav {
  color: #ffff;
  height: 5em;
  margin: 0;
  padding: 0;
  display: flex;
}

nav button {

  padding: 0em;
  background-color: transparent;
  /* icon en tekst met gap-je naast elkaar */
  display: flex;
  align-items: center;
  gap: .25em;

  border: none;
  border-radius: .25em;
  font: inherit;
  text-align: center;


}
nav button:hover{
  transform:scale(110%);
  transition: 0.3s;
}

nav img {
  height: 1.5em;
  margin-left: 2em;
}


nav button image {
  display: flex;
  flex-direction: row;
  justify-content: end;

}

nav button img:nth-of-type(1) {
  padding-left: 1.25em;
  width: 100%;
}

nav ul {

  gap: 1em;
  padding-left: 3em;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

nav li {
  list-style: none;
  padding-top: 1.75em;
  font-weight: bold;


}

nav a {
  text-decoration: none;
  color: white;
}

nav>ul:nth-of-type(2) {
  display: flex;
}

nav a:active {
  text-transform: uppercase;
  color: white;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5em;
  text-decoration-color: white;

}

@media (max-width:900px) {
  nav.toon-menu:focus{
    display: none;
  }
  nav>ul:first-of-type {

    position: absolute;
    background-color: black;
    top: calc(-100vh + 5em);
    right: 0;
    left: 0;
    padding: 0 2em 2em;
    transform: translateY(0vh);
    transition: transform 0.5s ease-in-out;
    display: block;
 
    /* 5 em waarde om boven de header te staan, 0vh als startwaarde  */
  }
  
  nav.toon-menu ul {
    transform: translateY(100vh);
    display: block;
    /* 100vh als er op de knop gedrukt word */

  }

  header {
    position: fixed;
  }
  
@media (min-width:901px) {

  header {
    justify-content: start;
    gap: 5em;
  }

  nav>button {
    display: none;
  }

}

  section:first-of-type li p:first-of-type,
  section:first-of-type li p:nth-of-type(2) {
    display: none;
  }

  section:first-of-type li p:last-of-type {
    margin-top: 20em;
  }
}

@media (min-width:901px) {

  header {
    justify-content: start;
    gap: 5em;
  }

  nav>button {
    display: none;
  }


}

footer {
  padding-top: 0.5em;
  background-color: black;
  padding-bottom: 1.5em;
}

footer h3 {
  color: white;
}

footer h3 {
  padding-top: .5em;
}



footer li{
  display: grid;
  flex-direction: column;
}

footer a {
  color: white;
  text-decoration: none;


}

footer a:hover {
  text-decoration: underline;

}

footer section{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;
}

@media (max-width:701px) {
  

  footer section {
    display: flex;
    flex-direction: column;
 
  

}


}


footer button{
  display: flex;
  background-color: rgb(186, 0, 0);
  color: white;
  justify-content: center;
  border-radius: 0.5em;
  font-size: 1em;
  padding: 1em 3em 1em 3em;
}
footer button:hover{
  background-color: white;
color: black;
border-color:rgb(186, 0, 0)  ;
}

/*PAGE ONE !!!!!!!!!!!!!!!!!!!!!!!!!!*/


main a {
  color: var(--color-text);
  text-decoration: underline;



}

main a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

/* .home is de class die gebruikt word op de home page */
.home main :visited {
  text-decoration: none;


}

.home main li {
  list-style: none;
}


.home section {
  margin: 0;
  padding: 0;
}

.home section:nth-of-type(1) ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;


}
.home section:nth-of-type(1) > ul >li {
  background-color: rgb(241, 241, 241);
  padding:1em;
}
.home section:nth-of-type(1) li {

  margin: 1em;
  display: block;

}


.home ul:nth-of-type(2) li img {
  /* jouw code hier */
  margin-right: .125em;
}

.home section:nth-of-type(2) img {
  width: 100%;
}

.home section:nth-of-type(2) picture {
  width: 100%;
}

.home section:nth-of-type(2) img:nth-of-type(2) {
  display: block;
}

.home section:nth-of-type(2) a {
  display: flex;
  justify-content: center;
  padding-top: .5em;
}
/* die eerste image word goed weergegeven tot de top op de mobile versie omdat de onrelevante info verdwijnt bleef er eest teveel witruimte over*/
@media (max-width:901px) {


  .home section:nth-of-type(2) img {
    width: 100%;
    margin-top: 2em;
  }
}

/* snelle merk selectie geeeezerrr*/
/* snelle merk selectie geeeezerrr*/
.home section:nth-of-type(3) {
 padding-top: 1em;
}
.home section:nth-of-type(3) ul {
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  display: grid;
  width: 100%;
}

.home section:nth-of-type(3) li {
  list-style: none;

}

.home section:nth-of-type(3) img {
  list-style: none;
  width: 100%;
  height: auto;
}

.home section:nth-of-type(3) a {
  display: flex;
  justify-content: center;


}

@media (min-width:900px) {
  .home section:nth-of-type(3) ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    display: grid;
    width: 100%;
  }

  .home section:nth-of-type(3) li {
    list-style: none;

  }

  .home section:nth-of-type(3) img {
    list-style: none;
    width: 100%;
    height: auto;
  }

  .home section:nth-of-type(3) a {

    display: flex;
    justify-content: center;
    padding-top: .5em;

  }
}

/*kleine blokjes merken*/
.home section:nth-of-type(4) ul {
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  display: grid;
  width: 100%;
  padding-top: .5em;
}

.home section:nth-of-type(4) li {
  list-style: none;

}

.home section:nth-of-type(4) img {
  list-style: none;
  width: 100%;
  height: auto;
}

@media (min-width:900px) {
  .home section:nth-of-type(4) ul {
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    gap: 1em;
    display: grid;
    width: 100%;
    padding-top: .5em;
    justify-content: center;
  }

  .home section:nth-of-type(4) li {
    list-style: none;

  }

  .home section:nth-of-type(4) img {
    list-style: none;
    width: 100%;
    height: auto;
  }
}

/*banner jordan*/
.home section:nth-of-type(5) img {
  width: 100%;
  margin-top: .5em;

}

/*slipstreambanner*/
.home section:nth-of-type(6) img {
  width: 100%;
  margin-top: .5em;

}

.home section:nth-of-type(6) a {
  display: flex;
  justify-content: center;
  margin-top: .5em;
}

/*classicleather*/
.home section:nth-of-type(7) img {
  width: 100%;
  margin-top: .5em;

}

.home section:nth-of-type(7) a {
  display: flex;
  justify-content: center;
  margin-top: .5em;
}
/* de 7e section die veranderd van display en gaat naast elkaar staan dat als het normaal staat */
@media (min-width:700px) {

  .home section:nth-of-type(7) ul {

    gap: 1em;
    flex-direction: row;
    display: flex;
    width: 100%;
    margin-top: .5em;
  }

  .home section:nth-of-type(7) ul li {
    list-style: none;

  }

}
/* images van section 8 tot en met 10 krijgen hier dezelfde waarde door een opsomming*/
.home section:nth-of-type(8) img,
.home section:nth-of-type(9) img,
.home section:nth-of-type(10) img,
.home section:nth-of-type(11) img {
  width: 100%;
  margin-top: .5em;

}
/* a tjes van section 8 tot en met 10 krijgen hier dezelfde waarde door een opsomming, ze krijgen een display flex*/
.home section:nth-of-type(8) a,
.home section:nth-of-type(9) a,
.home section:nth-of-type(10) a,
.home section:nth-of-type(11) a {
  display: flex;
  justify-content: center;
  padding-top: .5em;
}

.home section:nth-of-type(10) h2 {
  display: flex;
  justify-content: center;
}

@media (min-width:700px) {

  .home section:nth-of-type(10) ul {

    gap: 1em;
    flex-direction: row;
    display: flex;
    width: 100%;
    padding-top: .5em;
  }

  .home section:nth-of-type(10) ul li {
    list-style: none;

  }
}





/*PAGE 2!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.overons h3:first-of-type {
  padding-top: 0.5em;
  padding-left: 0.5em;
  font-size: 1.75em;
}

.overons img {
  width: 100%;

}
/* het fine tunen van de image omdat de mobile menu fixed is maar de desktop versie niet*/
@media (min-width:900px) {

  .overons img {
    width: 100%;
    padding-top: 0em;

  }
}
@media (max-width:899px) {

  .overons img {
    width: 100%;
    padding-top: 5em;

  }
}

.overons section {
  display: flex;
}
.overons p {
  padding: 1em;
}

.overons section:last-of-type p {
  padding-bottom: 0.2em;
}

.overons section:first-of-type {
  padding-bottom: 2em;

}
/* de over ons pagina gaat dmv een media query schalen tussen column en het standaard display flex */
@media (min-width:700px) {

  .overons section:nth-of-type(1) {
    display: flex;
    padding-right: 1em;
  }
}

@media (max-width:700px) {

  .overons section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    grid-template-columns: 2fr 1fr;
  }

}


/* Opmaak van de forms  op pagina 2 aka de over ons page*/
.overons section:nth-of-type(2) h3{
  display: flex;
justify-content: center;
}
.overons form label{
  padding: 0.5em;
}
/* indeling van de inhoud van de form, onderelkaar*/
.overons section:nth-of-type(2) form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/* de form word  vormgegeven */
.overons form {

  width: 100%;
  background-color:var(--color-background);
  display: inline-block;
    justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding-left: 2em 2em 0em;
  margin:1em;

}
/* de input fields in de form krijgen eeen kleur, indeling, border raduis een padding  */
.overons form input{
  width: 50%;
  display: flex;
  border: 2px solid #d1d6dc;
  background-color: #fff;
  color: #000;
  border-radius: 3px;
  padding-bottom: 2em; 
  font-size:1em;
}
/* met de placeholder zorg ik ervoor dat de kleur van de tekst hotpink is als er nog niks in ingetypt en de placeholder tekst actief is */
.overons form input::placeholder{
  color:rgb(186, 0, 0);
}
/* de button die word vormgegeven */
.overons form button{
  display: flex;
  background-color: rgb(186, 0, 0) ;
  color: white;
  justify-content: center;
  border-radius: 0.5em;
  font-size: 1em;
  padding: 1em 4em 1em 4em;
  /* ik gebruik de margin om de button van de input field af te duwen met 1em */
  margin-top: 1em
}
/* ik geef de hover state een een andere kleur */
.overons form button:hover{
background-color: white;
color: black;
border-color:rgb(186, 0, 0)  ;
}
/* ik geef de active state een een andere kleur */
.overons form button:active{
  transform: rotate(180deg);
  transition: transform 0.3s;
}
.overons section:first-of-type > article:last-of-type > p:nth-of-type(1){
  font-weight: 600;

}
.overons select{
  display: flex;
  justify-content: end;
  padding: 1em;
  margin: 1em;
}
section:last-of-type > form > input  {
  padding: 1em;
  text-align: center;
 

}



