*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
summary {
  cursor: pointer;
}

:root {
  /* colors in de main */
  --color-text: #111;
  --color-background: rgb(255, 255, 255);
  --color-voorwaarden: rgb(227, 227, 227);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* day/night mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-background: rgb(0, 0, 0);
    --color-voorwaarden: rgb(140, 140, 140);
  }

}

/* Div in de main  */
.spacing {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* focus visible op alle interactieve elementen */
*:focus-visible {
  transform: scale(100%);
  transition: 0.3s;
  border: 0.3em red solid;
 


}

/* body background color */
body {
  color: var(--color-text);
  background-color: var(--color-background);
}

/* nav en header algemeen*/
header {

  left: 0;
  right: 0;
  display: flex;
  padding: 0 2em;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

header>a {
  width: 5em;
  height: 100%;
}

header>a img {
  height: 100%;
  width: auto;
}

/* navbar */
nav {
  color: #ffff;
  height: 5em;
  margin: 0;
  padding: 0;
  display: flex;
}

nav button {

  padding: 0em;
  background-color: transparent;
  /* icon en tekst met gap-je naast elkaar */
  display: flex;
  align-items: center;
  gap: .25em;

  border: none;
  border-radius: .25em;
  font: inherit;
  text-align: center;


}
header > h1 > a >img:first-of-type{
  width: 150px;
}
nav img {
  height: 2em;
  margin-left: 2em;

}


nav button image {
  display: flex;
  flex-direction: row;
  justify-content: end;

}

nav button img:nth-of-type(1) {
  padding-left: 1.25em;
  width: 100%;
}

nav ul {

  gap: 1em;
  padding-left: 3em;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

nav li {
  list-style: none;
  padding-top: 1.75em;
  font-weight: bold;


}

nav a {
  text-decoration: none;
  color: white;
}

nav>ul:nth-of-type(2) {
  display: flex;
}

nav a:active {
  text-transform: uppercase;
  color: white;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5em;
  text-decoration-color: white;

}


/* menu van de nav die veranderd op basis van schermgrootte */
@media (max-width:900px) {
  nav.toon-menu:focus {
    display: none;
  }

  nav>ul:first-of-type {

    position: absolute;
    background-color: black;
    top: calc(-100vh + 5em);
    right: 0;
    left: 0;
    padding: 0 2em 2em;
    transform: translateY(0vh);
    transition: transform 0.5s ease-in-out;
    display: block;

    /* 5 em waarde om boven de header te staan, 0vh als startwaarde  */
  }

  nav ul:focus-within {
    transform: translateY(100vh);
    top: calc(-100vh + 5em);
    width: 100%;
    transition: transform 0.5s ease-in-out;
    padding: 0 2em 2em;
    display: block;
  }

  nav.toon-menu ul {
    transform: translateY(100vh);
    display: block;
    /* 100vh als er op de knop gedrukt word */

  }

  header {
    position: fixed;
  }

  @media (min-width:901px) {

    header {
      justify-content: start;
      gap: 5em;
    }

    nav>button {
      display: none;
    }

  }

}


  @media (min-width:901px) {

    header {
      justify-content: start;
      gap: 5em;
    }

    nav>button {
      display: none;
    }


  }


  /*PAGE ONE !!!!!!!!!!!!!!!!!!!!!!!!!!*/
  /* algemeen main */
  a:visited{
    text-decoration: none;
  }

  main a {
    color: var(--color-text);
    text-decoration: underline;
  }

  main a:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
  }
  .home img{
    margin-top: 0.5em;
  }
  
  /* home class main */
  .home h2{
    display: flex;
    justify-content: center;
  }
  .home main :visited {
    text-decoration: none;
  }

  .home main li {
    list-style: none;
  }

  .home section:first-of-type {
    margin-top: 0 ;
    padding: 0;
  }

  /* section 1 */
  .home section:nth-of-type(2){
  margin-top: 1em;
  }
   .home h2{
    margin: 1em 0em 0em 0em;
  }
  .home section:nth-of-type(1) ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .home section:nth-of-type(1)>ul>li {
    padding: 1em;
    background-color: var(--color-voorwaarden);
    color: var(--color-text);
  }

  .home section:nth-of-type(1) li {

    margin: 1em;
    display: block;

  }

  .home ul:nth-of-type(2) li img {
    margin-right: .125em;
  }

  /* section 1  */
  @media (max-width:900px) {
    section:first-of-type li p {
      display: none;
    }
  
    section:first-of-type li p {
      margin-top: 20em;
    }
    .home h2:first-of-type{
      margin:0em;
      text-align: center;
    }
  }

/* section 2 */
.home section:nth-of-type(2) img {
  width: 100%;
}

.home section:nth-of-type(2) picture {
  width: 100%;
}

.home section:nth-of-type(2) img:nth-of-type(2) {
  display: block;
}

.home section:nth-of-type(2) a {
  display: flex;
  margin-top: .5em;
  justify-content: center;

}


.home section:nth-of-type(2) a:first-of-type{
  display: flex;
  margin-top: 0em;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
/* section 2 media query*/
@media (max-width:901px) {
  .home section:nth-of-type(2) img {
    width: 100%;

  }
}

/* section 3*/

.home section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.home section:nth-of-type(3) ul {
  gap: 1em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home section:nth-of-type(3) li {
  list-style: none;

}

.home section:nth-of-type(3) img {

  width: 100%;
  height: auto;
  list-style: none;
}

.home section:nth-of-type(3) a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


}

/* section 3 media query*/
@media (min-width:900px) {
  .home section:nth-of-type(3) ul {
  
    gap: 1em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .home section:nth-of-type(3) li {
    list-style: none;
  }

  .home section:nth-of-type(3) img {
    list-style: none;
    width: 100%;
    height: auto;
  }

  .home section:nth-of-type(3) a {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

/*section 4 */
.home section:nth-of-type(4) ul {
  gap: 1em;
  width: 100%;
  display: grid;
  padding-top: .5em;
  grid-template-columns: 1fr 1fr;
}

.home section:nth-of-type(4) li {
  list-style: none;

}

.home section:nth-of-type(4) img {

  width: 100%;
  height: auto;
  list-style: none;
}

/* section 4 media query */
@media (min-width:900px) {
  .home section:nth-of-type(4) ul {
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    gap: 1em;
    display: grid;
    width: 100%;
    padding-top: .5em;
    justify-content: center;
  }

  .home section:nth-of-type(4) li {
    list-style: none;

  }

  .home section:nth-of-type(4) img {
    list-style: none;
    width: 100%;
    height: auto;
  }
}

/* section 5*/
.home section:nth-of-type(5) img {
  width: 100%;


}

/*section 6*/
.home section:nth-of-type(6) img {
  width: 100%;


}

.home section:nth-of-type(6) a {
  display: flex;
  margin-top: .5em;
  justify-content: center;

}

/*section 7*/
.home section:nth-of-type(7) img {
  width: 100%;
 

}

.home section:nth-of-type(7) a {
  display: flex;

  justify-content: center;
}

/* section 7 media query */
@media (min-width:700px) {

  .home section:nth-of-type(7) ul {
    gap: 1em;
    width: 100%;
    display: flex;
 
    flex-direction: row;
  }

  .home section:nth-of-type(7) ul li {
    list-style: none;

  }

}

/* section 8 tot en met 11 img*/
.home section:nth-of-type(8) img,
.home section:nth-of-type(9) img,
.home section:nth-of-type(10) img,
.home section:nth-of-type(11) img {
  width: 100%;


}

/* section 8/11 a*/
.home section:nth-of-type(8) a,
.home section:nth-of-type(9) a,
.home section:nth-of-type(10) a,
.home section:nth-of-type(11) a {
  display: flex;

  justify-content: center;
}

/* section 10 h3*/
.home section:nth-of-type(10) h3 {
  display: flex;
  justify-content: center;
}

/* media query section 10 */
@media (min-width:700px) {

  .home section:nth-of-type(10) ul {

    gap: 1em;
    width: 100%;
    display: flex;

    flex-direction: row;
  }

  .home section:nth-of-type(10) ul li {
    list-style: none;

  }
}





/*PAGE 2!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* over ons algemeen styling */
.overons h2:first-of-type {
  text-align: center;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.overons img {
  width: 100%;

}

.overons section {
  display: flex;
}

.overons p {
  padding: 1em;
}
.overons h3{
  font-size: 1.75em;
}
.overons section:last-of-type p {
  padding-bottom: 0.2em;
}

.overons section:first-of-type {
  padding-bottom: 2em;

}

/* over ons media query */
@media (min-width:900px) {

  .overons img {
    width: 100%;
    padding-top: 0em;

  }
}

@media (max-width:899px) {

  .overons img {
    width: 100%;
    padding-top: 5em;

  }
}

/* media query section 1 over ons */
@media (min-width:700px) {

  .overons section:nth-of-type(1) {
    display: flex;
    padding-right: 1em;
  }
}

@media (max-width:700px) {

  .overons section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    grid-template-columns: 2fr 1fr;
  }

}

/* section 2 over ons page*/
.overons h3{
  margin-top: 1em;
  margin-left: 0.5em;
}
.overons section:first-of-type h2:first-of-type{
  visibility: hidden;
  position: absolute;
  margin-top: -5em;
}
.overons section:nth-of-type(2) h3 {
  display: flex;
  justify-content: center;

}

.overons form label {
  padding: 0.5em;
}


.overons section:nth-of-type(2) form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em;

}

/* de form word  vormgegeven */
.overons form {
  width: 100%;
  margin: 1em;
  align-items: center;
  border-radius: 20px;
  display: inline-block;
  justify-content: center;
  padding: 2em 2em 0em;
  background-color: var(--color-background);
}

/* de input fields in de form krijgen eeen kleur, indeling, border raduis een padding  */
.overons form input {
  width: 50%;
  display: flex;
  color: #000;
  font-size: 1em;
  border-radius: 3px;
  padding-bottom: 2em;
  background-color: #fff;
  border: 2px solid #d1d6dc;
}

.overons input:required{
  background-color: rgb(255, 247, 247);
}
.overons input:invalid{
  background-color: rgb(255, 245, 245);
}
/* met de placeholder zorg ik ervoor dat de kleur van de tekst hotpink is als er nog niks in ingetypt en de placeholder tekst actief is */
.overons form input::placeholder {
  color: rgb(139, 114, 114);
}

/* over ons button styling */
.overons form button {
  display: flex;
  margin-top: 1em;
  color: white;
  font-size: 1em;
  border-radius: 0.5em;
  justify-content: center;
  padding: 1em 4em 1em 4em;
  background-color: rgb(186, 0, 0);
  /* ik gebruik de margin om de button van de input field af te duwen met 1em */

}


/* form button styling over ons page */
.overons form button:hover {
  color: black;
  background-color: white;
  border-color: rgb(186, 0, 0);
}



.overons form button:active {
  transform: skew(30deg);
  transition: transform 0.3s;
}

.overons section:first-of-type>article:last-of-type>p:nth-of-type(1) {
  font-weight: 600;

}

section:last-of-type>form>input {
  width: 60%;
  padding: 1em;
  text-align: center;

}
.overons>section> form>input:focus {

  border: solid 0.5em red;
}

/* succes page */
.succes main{
  width: 100%;
}
.succes section{
  padding-top: 5em;
}
.succes section img{
  display: flex;
  width: 20%;
 margin: auto;
 padding-top: 0.5em;
}
.succes section p{
  display: flex;
  justify-content: center;
  margin:2em;
}

.succes section button{
  color:white;
  margin: auto;
  display: flex;
  font-size: 1em;
  margin-bottom: 4em;
  border-radius: 0.5em;
  padding: 1em 4em 1em 4em;
  background-color: rgb(186, 0, 0);
}

.succes button:hover {
  color: black;
  background-color: white;
  border-color: rgb(186, 0, 0);
}

.succes button:active {
  transform: skew(30deg);
  transition: transform 0.3s;
}
.succes h2{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
  margin-left: 0.5em;
  margin-bottom: 2em;

}
/* footer */
footer {
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  background-color: black;
}
footer h2{
  color: white;
  display: flex;
  justify-content: flex-start;
  margin: 1em 0em 0em 1em;
}

footer details {
  color: white;
  font-size: 1em;
  padding-top: .5em;
  margin-left: 1em;
  margin-right: 1em;
}

footer li {
  list-style: none;
}

footer li a{
  margin: 1em;
  display: grid;
  color: white;
  flex-direction: column;

}

footer summary {
  color: white;
 

}
footer summary a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2em;

}

footer  {
  gap: 1em;
  width: 100%;
  display: grid;
  color: white;
  font-size: 1em;
  padding-top: .5em;


}


footer details summary {
  padding: 1.5em  0em;
  border-bottom: 0.1em solid #e71836;

}